.App {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #434753;
}

.chat_space {
	background-color: #ffffff;
}

.full_height {
	height: 100%;
	overflow-y: auto;
}
