.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.5s linear;
}

.message-user-name {

}

.messages .message .user-name {

}
.messages .message .text {
    color: #45829b;
}
.messages .message .text-wrapper {
    background-color: #c7eafc;
    width: 100%;
    clear: both;
    padding: 20px;
    border-radius: 5px;
    min-width: 100px;
    position: relative;
}
.messages .message .text-wrapper .text {
    font-size: 18px;
    font-weight: 300;
}
